<div class="page-header style1" >
  <h1>ランニング中</h1>
</div>

<div>
<!-- 画像 -->
</div>
<div class="style2">
  <%= form_tag('stop_running') do %>
    <%= submit_tag 'ランニング終了', class: 'btn btn-lg btn-default' %>
  <% end %>
</div>
