<div class="page-header style1" >
  <h1>ランニング中</h1>
</div>
<div class="style1">
			<div class="runContainer">
				<div class="bg" ></div>
				<div class="runner"></div>
				<div class="goal">GOAL</div>
				<div class="start">START</div>
				<div class="currentDist">1.2km</div>
				<div class="goalDist">3.2km</div>
			</div>
		</div>
<div class="style2">
  <%= form_tag('stop_running') do %>
    <%= submit_tag 'ランニング終了', class: 'btn btn-lg btn-default' %>
  <% end %>
</div>
