<div class="page-header style1" >
  <h1>ランニング中</h1>
</div>

<div>
<!-- 画像 -->
</div>
<div class="style2">
  <form action="" method="POST">
  <input type="submit" class="btn btn-lg btn-default" value="ラン終了" />
  </form>
</div>
