    <div class="container">
    <div class="page-header style1" >
      <h1>目標達成</h1>
    </div>
    <div class="style1">
  <%= image_tag('ashida_0.jpeg') %>
    </div>
    <div class="style1">
      <h2>今週の目標</h2>
    </div>
    <div class="style2">
      <p><%= if @goal.present? then @goal.distance.to_s + ' km' else '未定' end %></p>
    </div>
    <div class="style1">
      <div class="runContainer">
        <div class="bg"><%= image_tag 'runner.png' %></div>
        <div class="runner"><%= image_tag 'bg.png' %></div>
        <div class="goal">GOAL</div>
        <div class="start">START</div>
        <div class="currentDist">1.2km</div>
        <div class="goalDist">3.2km</div>
      </div>
    </div>
    
    </div><!-- /.container -->
