<div class="container">
<div class="page-header style1" >
  <h1>目標達成</h1>
</div>
<div class="style1">
  <%= image_tag('ashida_0.jpeg') %>
</div>
<div class="style1">
  <h2>今週の目標</h2>
</div>
<div class="style2">
  <p><%= if @goal.present? then @goal.distance.to_s + ' km' else '未定' end %></p>
</div>

</div><!-- /.container -->
