<!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- navbar navbar-default って設定にすると白になる -->
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Ran</a></li>
            <li><a href="#about">history</a></li>
            <li><a href="#contact">prise</a></li>
            <li><a href="#">config</a>
            </li>
            <li>
            <form class="navbar-form navbar-right" role="form">
             
          </form>
          </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>



         <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag '4.jpg', height: '900' %>
          <div class="container">
            <div class="carousel-caption">
              <h1>mydarlingとは...？</h1>
              <p>mydarling は、奥さんと一緒に若かりし日の
              健康な体を取り戻すためのアプリです。</p>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag '3.jpg', height: '900' %>
          <div class="container">
            <div class="carousel-caption">
              <h1>どうやって、取り戻すか</h1>
              <p>方法は簡単、奥さんと一緒に目標を設定して、
協力しあって、楽しく健康を取り戻します。</p>
              
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag '1.jpg', height: '900' %>
          <div class="container">
            <div class="carousel-caption">
              <h1>認証を完了する</h1>
              <p>パパがんばっては、夫婦のスマートフォンをお互いに認証することから始まります。</p>
              <p>ママのスマートフォンの認証の際に提示された、４桁の数字を入力してください。</p>
              <div><input type="text" id="PINCode"></div>
              <p><a id="match-pin-button" class="btn btn-lg btn-primary" href="#" role="button">ペアリングを行う</a></p>
            </div>
          </div>
        </div>

      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->
    


    <div class="container">
    
    </div><!-- /.container -->

    <script type="text/javascript">
      $(function() {
        var device_id = '<%= @device_id %>';
        $('#match-pin-button').click(function(e) {
          e.preventDefault();
          $.post('/match_pin', { pin: $('#PINCode').val(), device_id: device_id }, function(data) {
            if (!data.errors) {
              location.href = '/h_1';
            }
          });
        });
      });
    </script>

</body>
</html>
